html {
  background: #333;
  -moz-background: #333;
  -webkit-background: #333;
  -o-background: #333;
  background-image: url(/scattered-forcefields.svg);
  -moz-background-image: url(/scattered-forcefields.svg);
  -webkit-background-image: url(/scattered-forcefields.svg);
  -o-background-image: url(/scattered-forcefields.svg);
  min-height: 100vh;
  min-width: 100vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

hr {
  border: 3px solid rgba(60, 60, 60, 0);
  /* border: 3px solid rgba(65, 62, 62, 0.081); */
  /* border: 2px solid rgba(201, 195, 195, 0.081); */
  box-shadow: #776868ae 0px 5px 3px 0px;
  /* box-shadow: #776868ae 0px 5px 6px 0px; */
  /* box-shadow: #070707 0px 3px 2px 0px; */
  margin-bottom: 5px;
}

.fab {
  color: white;
}

.fa {
  color: white;
}

.fas {
  color: white;
}

li {
  list-style: none;
}

a {
  color: #cb4a0a;
  /* color: #cd703d; */
  /* color: #c25719; */
  text-decoration: none;
}

#preloader {
  background: #000000 url(/preloader.gif) no-repeat center;
  background-size: 120px;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.home {
  font-size: 1.5rem;
}

.home-title {
  /* border-top: #44400c solid 1px; */
  margin-bottom: -10px;
  color: #ffffff;
  font-size: 3rem;
  text-align: center;
  font-family: "Black Ops One", cursive;
  /* margin-bottom: 40px; */
  text-shadow: 3px 3px 2px rgb(0, 0, 0);
}

.home-links {
  display: flex;
  justify-content: center;
  /* gap: 5px; */
  flex-direction: row;
  align-items: center;
  /* margin-top: 60px; */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
  /* margin: -10px 0px; */
}

.logo1 {
  width: 200px;
  max-width: 250px;
}

button {
  width: 100%;
  height: 50px;
  width: 60px;
  /* max-width: */
  /* box-shadow: 0px 5px 10px -3px #8d5252; */
  box-shadow: 0px 5px 5px 0px #000000;
  -moz-box-shadow: 0px 5px 5px 0px #000000;
  -webkit-box-shadow: 0px 5px 5px 0px #000000;
  background-color: rgba(7, 35, 41, 0.441);
  border: 1px solid #db8344;
  color: rgb(220, 212, 195);
  padding: 5px 10px;
  margin: 5px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  /* background: rgb(208, 202, 190);
  color: #070707; */
  transform: translateY(4px);
  /* border: 1px solid #070707; */
  box-shadow: 0px 2px 2px 0px #000000;
}

.button:active {
  transform: translateY(4px);
  box-shadow: 0px 2px 2px 0px #000000;
}
